<div class="card">
  <h2 class="text">Don't have the app yet?</h2>
  <p class="text text--small">
    Search or ﬁlter to ﬁnd nearby experiences and upcoming events catered to
    you.
  </p>
  <div class="store-logos">
    <a
      href="https://apps.apple.com/us/app/fever-local-events-tickets/id497702817"
      target="_blank"
    >
      <img
        class="logo logo__apple"
        src="../../../assets/img/app-store-badge.svg"
      />
    </a>
    <a
      href="https://play.google.com/store/apps/details?id=com.feverup.fever"
      target="_blank"
    >
      <img
        class="logo logo__google"
        src="../../../assets/img/google-play-badge.png"
      />
    </a>
  </div>
</div>
