.card {
  background: #8b95f1;
  padding: 16px;
  border-radius: 5px;
  width: 340px;
  margin-top: 48px;
}

.store-logos {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    cursor: pointer;
    &__apple {
      width: 130px;
    }

    &__google {
      width: 160px;
    }
  }
}
