.plan {
  width: 240px;
  border-radius: 8px;
  background-color: #f4f1f8;

  .picture {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 180px;
  }

  &__info {
    position: relative;
    height: 128px;
    padding: 16px;
    box-sizing: border-box;

    .text {
      color: black;
    }

    .stars {
      position: absolute;
      bottom: 16px;
      left: 16px;
      color: #f9b132;
    }

    .price {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }
}
