.header {
  display: flex;
  background: linear-gradient(180deg, #0f0428 85.42%, rgba(15, 4, 40, 0) 100%);
  mix-blend-mode: normal;

  .left-icons {
    position: absolute;
    left: 16px;
    top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;

    img {
      width: 76px;
    }

    .text {
      font-size: 24px;
    }

    fa-icon {
      color: white;
      font-size: 24px;
    }
  }
  .right-icons {
    position: absolute;
    right: 16px;
    top: 16px;

    fa-icon {
      color: white;
      font-size: 24px;
    }
  }

  &__content {
    position: relative;
    width: 100%;
  }

  &__message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .title {
    text-shadow: 0px 0px 20px #00ffff;
  }

  .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 48px;

    .left-image {
      width: 460px;
      height: 486px;
    }

    .right-image {
      width: 393px;
      height: 451px;
    }
  }

  .logos {
    display: flex;
    gap: 64px;
    margin-top: 40px;

    fa-icon {
      color: white;
      font-size: 72px;
    }

    .fever-logo {
      width: 200px;
      height: 60px;
    }
  }
}
