<div class="header">
  <div class="header__topbar">
    <div class="left-icons">
      <img src="./../../assets/img/fever-logo.png" />
      <span class="text">+</span>
      <fa-icon [icon]="faTwitch"></fa-icon>
    </div>
    <div class="right-icons">
      <fa-icon [icon]="faUserCircle"></fa-icon>
    </div>
  </div>

  <div class="header__content">
    <div class="images">
      <img class="left-image" src="./../../assets/img/overwatch2.png" />
      <img class="right-image" src="./../../assets/img/overwatch1.png" />
    </div>
    <div class="header__message v-align">
      <h1 class="title text">Thank you for subscribing!</h1>
      <div class="logos">
        <fa-icon [icon]="faTwitch"></fa-icon>
        <img class="fever-logo" src="./../../assets/img/fever-logo.png" />
      </div>
    </div>
  </div>
</div>
