@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

body {
  margin: 0;
  background: url("assets/img/background.jpeg"), #160522;
  font-family: Montserrat;
  padding-bottom: 24px;
  backdrop-filter: blur(3px);
}

.text {
  color: white;
  font-style: normal;

  &h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
  }

  &h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }

  &--small {
    font-size: 16px;
    line-height: 24px;
  }
}

.h-center {
  margin-left: auto;
  margin-right: auto;
}

.v-align {
  display: flex;
  align-items: center;
  flex-direction: column;
}
