<div>
  <app-header></app-header>
  <div class="content">
    <div class="container">
      <p class="text text--medium">Your 5€ code to use in fever app is:</p>
      <div class="code">
        <span class="text text--small">HOLATWITCH</span>
      </div>
    </div>
    <div class="join">
      <h2 class="text">Join the club</h2>
      <p class="text text--small">
        Get Fever app and enjoy the best plans happening in your city! When you
        join us, you’ll be able to enjoy the benefits of FeverClub, including
        discounts and exclusive events all over the world.
      </p>
    </div>
  </div>
</div>
