<div>
  <app-header></app-header>
  <div class="content v-align">
    <ng-container *ngIf="user$ | async as user; else login">
      <div class="container">
        <h2 class="text">
          Hey {{ user.display_name }},
          <span *ngIf="user?.code">your 5€ code to use in fever app is:</span>
          <span *ngIf="!user?.code"
            >subscribe to pablocaminofever's content to get your code.</span
          >
        </h2>
        <div *ngIf="user?.code" class="code">
          <span class="text text--small">{{ user.code }}</span>
        </div>
      </div>
    </ng-container>
    <div class="join">
      <h2 class="text">Join the club</h2>
      <p class="text text--small">
        Get Fever app and enjoy the best plans happening in your city! <br />
        When you join us, you’ll be able to enjoy the benefits of FeverClub,
        including discounts and exclusive events all over the world.
      </p>
    </div>
    <app-card-message></app-card-message>
    <div class="plans">
      <h2 class="text">Plans for gamers</h2>
      <app-plan-list [plans]="gamerPlans"></app-plan-list>
    </div>
  </div>
</div>

<ng-template #login>
  <div class="h-center v-align">
    <h2 class="text">Log in with your twitch account to get the fever code:</h2>
    <app-login></app-login>
  </div>
</ng-template>
